.MMM-PaprikaMenu * {
  box-sizing: border-box;
}

.MMM-PaprikaMenu .module-content {
  width: 500px;
}

.MMM-PaprikaMenu table.menu {
  font-size: 17px;
  line-height: 1;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.MMM-PaprikaMenu table.menu tr {
  border-bottom: solid 1px #222;
}

.MMM-PaprikaMenu table.menu tr.fade {
  opacity: 0.33;
}

.MMM-PaprikaMenu table.menu > tbody > tr > td:first-child {
  width: 55px;
  height: 55px;
}

.MMM-PaprikaMenu .menu .img-cell > img {
  float: left;
  width: 45px;
  height: 45px;
  margin: 5px;
}

.MMM-PaprikaMenu .menu .img-cell > img.rounded {
  border-radius: 10%;
}

.MMM-PaprikaMenu table.inner td {
  line-height: 24px;
  height: 28px;
}

.MMM-PaprikaMenu .menu > span {
  text-align: left;
  white-space: nowrap;
}

.MMM-PaprikaMenu .menu .date {
  font-size: 14px;
}

.MMM-PaprikaMenu .menu .meal {
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.MMM-PaprikaMenu .menu .today .date {
  font-size: 17px;
}

.MMM-PaprikaMenu .menu .today .meal {
  color: #FFF;
  font-size: 24px;
}
