<div class="wrapper">

  {% if loading %}

    <div class="dimmed light small">{{ phrases.loading | safe }}</div>

  {% else %}

    {% for m in menu.meals %}
      <div>{{ m.name }}</div>
    {% endfor %}

    <div class="meta-timestamp" id="{{ moduleTimestampIdPrefix + identifier }}" data-timestamp="{{ timeStamp }}"></div>
  {% endif %}

</div>
