{% if loading %}

  <div class="dimmed light small">{{ phrases.loading | safe }}</div>

{% else %}

  <table class="menu">
    {% for m in menu.meals %}
      <tr {% if m.is_today %}class="today"{% endif %}>
        <td>
          <span class="img-cell">
            {% if config.showPictures and m.photo_url %}
                <img src="{{ m.photo_url }}" />
            {% else %}
              &nbsp;
            {% endif %}
          </span>
        </td>

        <td>
          <table class="inner">
            <tr>
              <td>
                <span class="date">{{ m.date }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="meal">{{ m.name }}</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="meta-timestamp" id="{{ moduleTimestampIdPrefix + identifier }}" data-timestamp="{{ timeStamp }}"></div>
{% endif %}
