.MMM-PaprikaMenu * {
  box-sizing: border-box;
}

.MMM-PaprikaMenu .module-content {
  width: 500px;
}

.MMM-PaprikaMenu .menu {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  border-bottom: solid 1px #222;
}

.MMM-PaprikaMenu .menu .menu-item {
  display: table-row;
  border-top: solid 1px #222;
  height: 55px;
}

.MMM-PaprikaMenu .menu > div:first-child {
  border-top: none;
}

.MMM-PaprikaMenu .menu .menu-item > span {
  display: table-cell;
  text-align: left;
}

.MMM-PaprikaMenu .menu .menu-item .meal {
  color: #FFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.MMM-PaprikaMenu .menu .menu-item .date {
  white-space: nowrap;
  font-size: 17px;
  margin-top: 5px;
}

.MMM-PaprikaMenu .menu .menu-item .img > img {
  margin-top: 5px;
  margin-left: 5px;
}
/*
.MMM-PaprikaMenu .menu .show-pictures .menu-item .meal,
.MMM-PaprikaMenu .menu .show-pictures .menu-item .date {
  margin-left: 30px;
}*/
