{% if loading %}

  <div class="dimmed light small">{{ phrases.loading | safe }}</div>

{% else %}

  <div class="menu">
    <div {% if config.showPictures %} class="show-pictures" {% endif %}>
      {% for m in menu.meals %}
        <div class="menu-item">
          {% if config.showPictures %}
            {% if m.photo_url %}
              <span class="img"><img width="30px" src="{{ m.photo_url }}" /></span>
            {% else %}
              <span>&nbsp;</span>
            {% endif %}
          {% endif %}
          <span class="meal">{{ m.name }}</span>
          <span class="date">{{ m.date }}</span>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="meta-timestamp" id="{{ moduleTimestampIdPrefix + identifier }}" data-timestamp="{{ timeStamp }}"></div>
{% endif %}
